.contenedor-logo-principal{
    background-color: $maincolor;

        &-imagen {
            width: 400px;
            display: block;
            margin-left: auto;
            margin-right: auto; 
        }
}

.navbar {
    height:max-content
}

.nav-item:hover{
    text-decoration: underline $maincolor;
}